header {
    text-align: center;
    background-color: red;
    padding: 10px;
    color: white;
}

body {
    background-color: black;
    margin: 0px;
}

#riotlogobox {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#rioticonbox {
    text-align: center;
}

#datosform {
    width: 100px;
    margin-right: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 4px;
    display: inline-block;
}

#formdiv {
    background-color: rgb(122, 8, 8);
    width: auto;
    color: white;
    border-radius: 7px;
    display: flex;
    padding: 12px;
}

#h3formu{
    text-align: center;
}

#qsomos, #qofrece, #pqtrabajar {
    padding: 30px;
    color: white;
    background-color: rgb(17, 17, 17, 0.76);
    border-radius: 7px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}
#datosbox {
    display: flex;
}

#datosform label{
    display: block; 
    padding: 6px;
    text-align: start;

}

#datosform {
    width: 500px;
    margin: auto;
    background-color: red;
    border-radius: 7%;
    text-align: center;
    padding: 40px;
    color: white;
    
}

#datosform input{
    width: 98%;
    margin-top: 7px;
    margin-bottom: 25px;
    border-radius: 3px;
    border-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
}

.radiogroup {
    display: flex;
    align-items: center;
}

textarea {
    width: 500px;
    height: 200px;
}
#mision {
    background-color: rgb(17, 17, 17, 0.76);
    text-align: center;
    padding: 8px;
    color: white;
    margin: 10px;
    text-align: center;
}

#Submit {
    width: 100%;
    background-color: rgb(63, 3, 3);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#vid {
    text-align: center;
}

#redes {
    padding: 30px;
    display: block;
    color: white;
    background-color: red;
    text-align: center;

}

#redes a {
    color: white;
    padding: 20px;
}